# Environment variables
.env
.env.production
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/

# Django
staticfiles/
media/
*.log
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
